<div class="main-header">
    <div class="main-header-user">Hi Karol!</div>
    <div class="main-header-updates">Goal for Today 2200 kcal = 100g protein + 150g carbs + 98g fat</div>
</div>
<div class="main-overview">
      <div class="overviewbox">
          <div class="overviewbox-icon">Icon Box1</div>
          <div class="overview-text">Text Box1</div>
      </div>  
      <div class="overviewbox">
        <div class="overviewbox-icon">Icon Box1</div>
        <div class="overview-text">Text Box1</div>
    </div>   
</div>
<div class="main-info">
    <div class="info">Search info</div>
    <div class="info">Chart 1</div>
    <div class="info">Chart 2</div>
</div>
