<!-- <div class="row mx-lg-n5">
    <div class="top-images">
        <div class="view">
            <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid" alt="placeholder">
            <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
              <p class="white-text">strong overlay</p>
            </div>
          </div>
    </div>
  
    <div class="col-sm-2">
        Test of col sm 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, sit!
    </div>  
    <div class="col-sm-9">
        Test col 9 Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rerum ad facilis, voluptate accusamus ipsam debitis maxime sint veniam in ea dignissimos sed unde voluptas voluptatum eaque tempora enim ratione placeat molestias! Ipsam, odit numquam! Ratione ab, laudantium eius saepe, quos libero, alias sit eveniet assumenda adipisci tenetur hic tempore.
    </div> 
</div> -->
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-12 mb-3">
  
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(137).jpg" class="img-fluid z-depth-1" alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-3">
  
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(115).jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
  
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(116).jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
  
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(117).jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(117).jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(129).jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->