<div class="row">

    <!-- Grid column -->
    <div class="col-md-12 mb-3 background-container">
  
      <img src="assets/img/background2.jpg" class="img-fluid z-depth-1" alt="Responsive image">
    
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->

  <div class="row">
    <div class="col-md-12 mb-3">
        <div class="main-heading">
            <h1 class="main-heading-text">Nutrient Tracker</h1>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora provident ad sint architecto nemo, accusantium quae numquam, a officiis ipsum distinctio facilis sit, ratione perspiciatis laboriosam. Quas eius nam cumque unde rem? Possimus veniam dolores repellat autem sequi molestias hic perspiciatis. Animi, perspiciatis earum! Aliquid numquam animi architecto nobis expedita!</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime atque dignissimos suscipit enim, nesciunt a ipsam explicabo dolor facere quos voluptas officiis omnis hic id neque culpa corrupti! Porro, ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dicta similique, vero nostrum at facere voluptate aspernatur, id quis vel nam recusandae nihil accusantium alias! Praesentium reprehenderit rem soluta vel.
      </p>
    </div>
  </div>


  <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-3">
  
      <img src="assets/img/blueberry1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
  
      <img src="assets/img/coffe1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
  
      <img src="assets/img/strawberries1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
      <img src="assets/img/yoga1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
      <img src="assets/img/diet1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->