<div class="row">

    <!-- Grid column -->
    <div class="col-md-12 mb-3 background-container">
  
      <img src="assets/img/background2.jpg" class="img-fluid z-depth-1" alt="Responsive image">
    
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->

  <div class="row">
    <div class="col-md-12 mb-3">
        <div class="main-heading">
            <h1 class="main-heading-text">Nutrients Tracker</h1>
        </div>
        <p class="heading-intro">MSc CS Final Year Project:  Web application that allows to track daily nutrients needs.
          This app put emphasis to help people with autoimmune disease that try to improve their
          health conditions with the use of diet. Users can register/login and write down what
          they have have eaten during a given day, the system would check how much of each nutrients they consumed which would help identify their macro or micro nutrient deficits, help them choose adequate food products and give recommendations of which products they can consume
          depending on their diet.</p>
    </div>
  </div>


  <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-3">
  
      <img src="assets/img/blueberry1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
  
      <img src="assets/img/coffe1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
  
      <img src="assets/img/strawberries1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
      <img src="assets/img/yoga1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
      <img src="assets/img/diet1.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->