.top-images {
    height: 200px;
}

.background-container {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-heading {
    text-align: center;
}

.main-heading-text{
    font-size: 60px;
}

.heading-intro {
    font-size: 22px;
}