<div class="company-logo">
    <div class="company-icon"></div>
    <div class="company-text"><a routerLink="">Nutrients Tracker</a></div>
</div>
<ul class="sidenav-list">
    <li class="sidenav-list-item">
        <!-- <div class="sidenav-home-icon"><fa-icon [icon]="faHomeIcon"></fa-icon></div>
        <div class="sidenav-home-text"><a routerLink="">Home</a></div>
        <span class="sidenav-home-text"><a routerLink="">Home</a></span> -->
        <div class="sidenav-home">
            <span class="sidenav-home-icon"><fa-icon [icon]="faHomeIcon"></fa-icon></span>
            <span class="sidenav-home-text"><a routerLink="">Home</a></span>
        </div>
    </li>
    <li class="sidenav-list-item">
        <div class="sidenav-profile-icon"></div>
        <div class="sidenav-profile-text">Profile</div>
    </li>
    <li class="sidenav-list-item">
        <div class="sidenav-settings-icon"></div>
        <div class="sidenav-settings-text"><a routerLink="/settings">Settings</a></div>
    </li>
    <li class="sidenav-list-item">
        <div class="sidenav-statistics-icon"></div>
        <div class="sidenav-statistics-text"><a routerLink="/dashboard">Dashboard</a></div>
    </li>
    <li class="sidenav-list-item">Menu Four</li>
    <li class="sidenav-list-item">Menu Five</li>
</ul>