<ul class="sidenav-list">
    <li class="sidenav-list-item">
        <div class="sidenav-profile-icon"></div>
        <div class="sidenav-profile-text">Profile</div>
    </li>
    <li class="sidenav-list-item">
        <div class="sidenav-settings-icon"></div>
        <div class="sidenav-settings-text">Settings</div>
    </li>
    <li class="sidenav-list-item">
        <div class="sidenav-statistics-icon"></div>
        <div class="sidenav-statistics-text">Statistics</div>
    </li>
    <li class="sidenav-list-item">Menu Four</li>
    <li class="sidenav-list-item">Menu Five</li>
</ul>