.sidenav-list {
    padding: 0px;
    margin-top: 85px;
    list-style-type: none;
}

.sidenav-list-item {
    padding: 12px 12px 12px 35px;
    color: #333;
}

.sidenav-list-item:hover {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a, a:visited {
    color: inherit;
}