<ul *ngIf="auth.isLoggedIn()" class="sidenav-list">
    <li class="sidenav-list-item">
        <div class="sidenav-home">
            <span class="sidenav-icon"><fa-icon [icon]="HomeIcon"></fa-icon></span>
            <span class="sidenav-text"><a routerLink="">Home</a></span>
        </div>
    </li>
    <li class="sidenav-list-item">
        <div class="sidenav-profile">
            <span class="sidenav-icon"><fa-icon [icon]="UserIcon"></fa-icon></span>
            <span class="sidenav-text">Profile</span>
        </div>
    </li>
    <li class="sidenav-list-item">
        <div class="sidenav-settings">
            <span class="sidenav-icon"><fa-icon [icon]="SettingsIcon"></fa-icon></span>
            <span class="sidenav-text"><a routerLink="/settings">Settings</a></span>
        </div>
    </li>
    <li class="sidenav-list-item">
        <div class="sidenav-dashboard">
            <span class="sidenav-icon"><fa-icon [icon]="ChartIcon"></fa-icon></span>
            <span class="sidenav-text"><a routerLink="/dashboard">Dashboard</a></span>
        </div>
    </li>
    <li class="sidenav-list-item">Menu Four</li>
    <li class="sidenav-list-item">Menu Five</li>
</ul>