.company-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px;
    color: white;
    background-color: rgba(0, 0, 0, 0.801);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.20);
    z-index: 1;
}

.sidenav-list {
    padding: 0px;
    margin-top: 85px;
    list-style-type: none;
}

.sidenav-list-item {
    padding: 12px 12px 12px 35px;
    color: #333;
}

.sidenav-list-item:hover {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a, a:visited {
    color: inherit;
}