<div class="main-header">
    <div class="main-header-user"><h3>Goal for today {{ caloriesDemand }} kcal</h3></div>
</div>
<div class="main-overview">
      <div class="overviewbox">
            <!-- Bar Chart -->
            <div style="display: block" class="bar-chart">
                <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
              </div>
      </div>  
      <div class="overviewbox">
        <app-doughnut-chart class="dough-chart"></app-doughnut-chart>
    </div>   
</div>
<div class="main-info">
    <div class="info">
        <form>
            <div class="row date-form">
                <div class="col-md-8 date-input">
                    <div class="md-form">
                        <input mdbInput
                                #dashboardDate
                                name="dateOfFoodEntry"  
                                type="date" 
                                id="dateOfFoodEntry" 
                                class="form-control">
                        <label for="dateOfFoodEntry">
                            Choose date for food entries 
                        </label>
                    </div>    
                    
                </div>
                <div class="col-md-4 button-table-1">
                    <button mdbBtn 
                            type="submit" 
                            color="default" 
                            mdbWavesEffect 
                            size="sm"
                            (click)="getFoodEntriesByDateAndUserId(dashboardDate.value)">
                            Get data
                    </button>
                </div>
            </div>
        </form>
        <table mdbTable mdbTableScroll scrollY="true" maxHeight="300">
            <thead>
                <tr>
                  <th scope="col"><strong>Description</strong></th>
                  <th scope="col"><strong>Brand</strong></th>
                  <th scope="col"><strong>Amount (gram)</strong></th>
                  <th scope="col"><strong>Meal</strong></th>
                  <th scope="col"><strong>Date</strong></th>
                </tr>
              </thead>
            <tbody>
              <tr *ngFor="let entry of foodEntries">
                <td> {{ entry.foodInfo.description }} </td>
                <td> {{ entry.foodInfo.brandOwner }} </td>
                <td> {{ entry.amountOfServing * 100 }} </td>
                <td> {{ entry.mealTime }} </td>
                <td> {{ entry.dateOfFoodEntry }} </td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
          <div *ngIf="isEntryEmpty"
                class="alert alert-warning">
                There were no food entries for that day ;)
          </div>
    </div>
    <div class="info">
        <h4>Nutrients</h4>
        <table mdbTable mdbTableScroll scrollY="true" maxHeight="400" class="nutrients-table">
            <thead>
                <tr>
                  <th scope="col"><strong>Nutrient Name</strong></th>
                  <th scope="col"><strong>Value</strong></th>
                  <th scope="col"><strong>Unit</strong></th>
                </tr>
              </thead>
            <tbody>
                <tr *ngFor="let entry of foodEntries">
                    <td>
                      <ul>
                        <li *ngFor="let nutrient of entry.foodInfo.nutrientsDtoList" class="custom-list">
                            {{nutrient.nutrientName}}
                        </li>
                      </ul>
                    </td>
                    <td>
                        <ul>
                          <li *ngFor="let nutrient of entry.foodInfo.nutrientsDtoList" class="custom-list">
                              {{nutrient.value}}
                          </li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li *ngFor="let nutrient of entry.foodInfo.nutrientsDtoList" class="custom-list">
                              {{nutrient.unitName}}
                          </li>
                        </ul>
                      </td>
                  </tr>
            </tbody>
          </table>
    </div>
    <div class="info">
      <table mdbTable mdbTableScroll scrollY="true" maxHeight="400" class="nutrients-table">
        <thead>
            <tr>
              <th scope="col"><strong>Nutrient Name</strong></th>
              <th scope="col"><strong>Value</strong></th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td>Calories</td>
              <td>{{ nutrientsConsumed?.calories }}</td>
            </tr>
            <tr>
              <td>Fat</td>
              <td>{{ nutrientsConsumed?.fat }}</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>