<div class="main-header">
    <div class="main-header-user">Hi Karol!</div>
    <div class="main-header-updates">Goal for Today 2200 kcal = 100g protein + 150g carbs + 98g fat</div>
</div>
<div class="main-overview">
      <div class="overviewbox">
            <!-- Bar Chart -->
            <div style="display: block" class="bar-chart">
                <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
              </div>
      </div>  
      <div class="overviewbox">
        <app-doughnut-chart class="dough-chart"></app-doughnut-chart>
    </div>   
</div>
<div class="main-info">
    <div class="info">
        <div class="row">
            <div class="col-md-12">
                <button mdbBtn 
                        type="button" 
                        color="default" 
                        mdbWavesEffect 
                        size="sm">
                        Get food entries
                </button>
            </div>
        </div>
        <table mdbTable mdbTableScroll scrollY="true" maxHeight="300">
            <thead>
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Amount (gram)</th>
                  <th scope="col">Meal</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td> Food Description </td>
                <td> Best brand </td>
                <td> 200 </td>
                <td> Dinner </td>
                <td> 2020-08-25 </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="info">Table 2</div>
    <div class="info">Chart 2</div>
</div>