.main-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    height: 80px;
    background-color: #f1f3f7;
    color: slategray;
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-auto-rows: 110px;
    grid-gap: 15px;
    margin: 15px;
}

.overviewbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: lightseagreen;
}

.main-info {
    column-count: 1;
    column-gap: 20px;
    margin: 10px;
}

/* ---- For tablets ------ */
@media only screen and (min-width: 65.625em){
    .main-info {
        column-count: 2;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    margin-bottom: 0px;
    -webkit-column-break-inside: avoid;
    padding: 10px;
    box-sizing:  border-box;
}

// .info:first-child {
//     height: 465px;
// }

.info:nth-child(2) {
    height: 260px;
}

.info:nth-child(3) {
    height: 290;
}

.side-nav {
    display: none;
}

@media only screen and (min-width: 55.625em){
    .side-nav {
        display: inline;
    }
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
}

.serving-type {
    display: none;
}

.meal-text {
    justify-content: center;
}
