<div class="main-header">
    <div class="main-header-user">Hi Karol!</div>
    <div class="main-header-updates">Goal for Today 2200 kcal = 100g protein + 150g carbs + 98g fat</div>
</div>
<div class="main-info">
    <div class="info">
        <div class="search-input">
            <div class="md-form">
                <label for="form1" class="">Product name...</label>  
                <input mdbInput type="text" id="form1" class="form-control">
              </div>
              <button mdbBtn type="button" color="primary" mdbWavesEffect>Search</button>
        </div>
    </div>
    <div class="info">Chart 1</div>
    <div class="info">Chart 2</div>
</div>
