
<!-- Extended material form grid -->
<form>
    <div class="form-row">
        <div class="signup">
            <h3 class="singup-text">Sign up</h3>
        </div>
    </div>
    <br>

    <!-- First and Last Name -->
    <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="text" class="form-control" placeholder="First Name">
            <label for="firstName">First Name</label>
          </div>
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="text" class="form-control" placeholder="Last Name">
            <label for="lastName">Last Name</label>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
            <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
            <input mdbInput mdbValidate ngModel name="email" 
                #email="ngModel"
                type="email" 
                class="form-control"  
                required pattern="[^ @]*@[^ @]*" 
                placeholder="Email">
          <label for="email">Email</label>
          <mdb-error *ngIf="email.invalid && (email.touched && email.dirty)"><h6>Invalid Email</h6></mdb-error>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
            <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
          <input mdbInput mdbValidate ngModel name="password"
                #password="ngModel"
                type="password" 
                minlength="8"
                class="form-control" 
                placeholder="Password">
          <label for="password">Password</label>
          <mdb-error *ngIf="password.invalid && (password.touched && password.dirty)"><h6>Minnimum password length is 8</h6></mdb-error>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  
    <!-- Grid row -->
    <div class="row">
      <!-- Date column -->
      <div class="col-md-12">
        <!-- Material input -->
        <div class="md-form">
            <mdb-icon fas icon="calendar-alt" class="prefix"></mdb-icon>
            <input mdbInput  
                type="date" 
                id="date" 
                class="form-control">
            <label for="date">Birthday date in a format: yyyy-mm-dd</label>
        </div>
      </div>
      <!-- Date column -->
    </div>
    <br>
      <!-- Gender row -->
    <div class="row">
      <span class="gender-text">Gender</span>
        <div class="row radio-gender">
              <!-- Default unchecked -->
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" mdbInput>
                <label class="custom-control-label" for="defaultUnchecked">Female</label>
            </div>
            
            <!-- Default checked -->
            <div class="custom-control custom-radio radio-gender">
                <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked mdbInput>
                <label class="custom-control-label" for="defaultChecked">Male</label>
            </div>
        </div> 
      <!-- Gender row -->
    </div>
    <!-- Grid row -->
    <br>
    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input mdbInput type="number" 
                class="form-control" 
                id="weight" 
                placeholder="Weight in kilograms"
                min=1>
          <label for="weight">Weight</label>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input mdbInput type="number" 
                class="form-control" 
                id="weight" 
                placeholder="Height"
                min=1>
          <label for="weight">Height in centimiters</label>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
            <div class="row activity-text">
             Activity Level
            </div>
                <select class="browser-default custom-select">
                    <option selected>Select your activity level</option>
                    <option value="1">Sedentary</option>
                    <option value="2">Low Activity</option>
                    <option value="3">Moderate Activity</option>
                    <option value="3">High Activity</option>
                    <option value="3">Very High Activity</option>
                </select>
            </div>
        <!-- Grid column -->
    </div>
    
      <br>
      <br>
    <button type="submit" mdbBtn color="primary">Sign in</button>
    <br>
    <br>
    <br>
  </form>
  <!-- Extended material form grid -->