.radio-gender {
    margin-left: 100px;
}

.gender-text {
    margin-left: 20px;
}

.activity-text {
    margin-left: 10px;
    padding-bottom: 10px;
}

.signup-heading {
    padding-top: 30px;
    margin: auto;
}

.signup-container{
    margin: auto;
}