<h1>Search for products</h1>
<div class="search-box">
    <div class="md-form">
        <label for="form1" class="">Product name...</label>  
        <input 
            (keyup.enter) = "createFoodProduct(foodProduct)" #foodProduct
            mdbInput type="text" id="form1" class="form-control">
      </div>
      <button 
        (click)="searchForProduct(foodProduct)"
        mdbBtn type="button" color="primary" mdbWavesEffect>Search</button>
</div>
<ul class="list-group">
    <li *ngFor="let food of foods"
    class="list-group-item">
        <div>
            <button
                (click)="updatePost(food)"
                class="btn btn-default btn-sm">Get more info</button>
        </div>
        <div>
            {{ food.description }}
        </div>
        <div>
            Brand Owner: {{ food.brandOwner}}
        </div>
    </li>
</ul>