<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of all added food items</title>
</head>
<body>
    <h1>Food items:</h1>
    <table>
        <tr>
            <th>Food Name</th>
            <th>Amount (in grams)</th>
        </tr>
        <tr th:each="foodItem: ${foodItemsList}">
            <td th:text="${foodItem.name}"></td>
            <td th:text="${foodItem.amount}"></td>
        </tr>
    </table>

    <a th:href="@{/}">Add more food items.</a>
</body>
</html>
